.userListBody {
    width: 100%;
    height: 600px;
    scroll-behavior: smooth;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid white;
}

.userListHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userList {
    padding: 20px;
    width: 100%;
}
